@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;

}

html{
    font-size: 62.5%;

}

body{
    width: 100%;
    overflow: auto;
    background-color: black;
    color: white;
    position: relative;
    }

    #tsparticles {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        padding:1rem 9%;
        background-color: transparent;
        filter: drop-shadow(10px);
        z-index: 100;
    }

    .logo{
        color: rgb(143, 160, 177);
        font-size: 3rem;
        font-weight: 800;
        cursor: pointer;
        transition:  0.5s ease-in ;
    }

    .logo:hover{
        color: hsla(150, 3%, 49%, 0.842);
        transform: scale(1.1);
    
    }

    nav a {
        font-size: 1.6rem;
        color:  rgb(143, 160, 177);
        margin-left: 4rem;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom:3px solid transparent;

    }
    nav a:hover,nav a.active{
        color: hsla(150, 3%, 49%, 0.842);
        border-bottom:3px solid hsla(150, 3%, 49%, 0.603);
        
    }

    
    
    section{
        min-height: 100vh;
        padding:5rem 9% 5rem;            
    }
    
    .home{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        background-color: black;
    }


    .home .home-content h1{
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.3;
    }  
    span{
        color:  rgb(143, 160, 177);
    } 
    
    .home .home-content h3{
        font-size: 4rem;
        margin-bottom: 1rem;
        font-weight: 500;
        color: white;
        
    }
    
    .home .home-content p{
        font-size: 1.6rem;
        margin:1.5rem 0 3rem;
        color: rgb(200, 200, 200);
        line-height: 1.5;
        max-width: 500px;
    }
    
    .home-img{
        border-radius: 50%;
    }
    
    .home-img img{
        position:relative;
        width: 25vw;
        border-radius: 20%;
        cursor: pointer;
        transition:  0.5s ease-in-out;
        box-shadow: 0 0 5px;
    }
    .home-img img:hover{
               
        transform: scale(1.05);
        box-shadow: 0 0 25px;
    }
    .social-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        background-color: transparent;
        border: 0.2rem solid hsla(150, 3%, 49%, 0.603);
        border-radius: 50%;
        margin:3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
        color: white;
    }
    
    .social-icons a:hover{
        border-color: hsla(150, 3%, 49%, 0.842);
        background-color: rgb(143, 160, 177);
        transform: scale(1.3) translateY(-5px) ;
        box-shadow: 0 0 10px hsla(150, 3%, 49%, 0.842);
    }
    
    .btn{
        display: inline-block;
                padding: 1rem 2.8rem;
                background-color: black;
                border-radius: 4rem;
                font-size: 1.6rem;
                color: white;
                letter-spacing: 0.3rem;
                font-weight: 600;
                border: 2px solid rgb(143, 160, 177);
                transition: 0.3s ease;
                cursor: pointer;
            }
            
            .btn:hover{
                transform: scale(1.2);
                background: rgb(143, 160, 177);;
                box-shadow: 0 0 15px rgb(143, 160, 177);
            }
            .typing-text{
                font-size: 34px;
                font-weight: 600;
                min-width: 280px;
            }
            
            .typing-text span{
                position: relative;
            }
            .typing-text span::before{
                content: '';
                animation: words 20s infinite;
            }
            
            .typing-text span::after{
                content: '';
                position: absolute;
                width: 3px;
                height: 100%;
                border-left:3px solid black;
                right: -8px;
                animation: cursor 0.6s infinite;
            }
            
            @keyframes cursor{
                to {
                    border-left: 3px solid rgb(143, 160, 177);
                }
            } 
            
            
            @keyframes words{
                0%,20%{
                    content: "Software Engineer";
                }
                21%,45%{
                    content: 'Frontend Dev';
                }
                46%,70%{
                    content: 'Web Designer';
                }
                71%,100%{
                    content: 'Freelancer';
                }
            }
            
            @media(max-width:995px) {
                .home{
                    flex-direction: column;
                    text-align: center;
                    gap: 3rem;
                    margin:5rem 4rem;
                }
                
                .home .home-content h1{
                    font-size: 4rem;
                }  
                
                .home .home-content h3{
                    font-size: 3rem;
                }
                
                .home-img img{
                    width: 70vw;
                    margin-top: 4rem;
                }
            }

            @media(max-width: 1000px){
                .home{
                    gap:4rem;
                }
             }

             @media(max-width:995px) {
                    nav{
                        position: absolute;
                        display: none;
                        top:100%;
                        right:0;
                        width: 40%;
                        border-left:3px solid hsla(150, 3%, 49%, 0.603);
                        border-bottom:3px solid hsla(150, 3%, 49%, 0.603);
                        border-bottom-left-radius:2rem;
                        padding:1rem solid;
                        background-color:#161616;
                        border-top:.1rem solid hsla(150, 3%, 49%, 0.603);
                    }
                    nav:active{
                        display: block;
                    }
                    nav a{
                        display: block;
                        margin:2rem ;
                        margin-left: 1rem;
                    }
            
                    nav a:hover,nav a.active{
                        padding : 1rem;
                        border-radius: 0.5rem;
                        border-bottom :0.5rem solid hsla(150, 3%, 49%, 0.603);
                    }
            
                }
